
<%
@body_class = 'index'

@title = 'Home | Front End Framework'
@keywords = 'The Lab, Front End Framework,'
@description = 'Front End Framework for The Lab @ o2'
%>

<article class="detail">

  <div class="detail-question">

    <figure>
      <img src="http://lorempixel.com/output/animals-q-c-640-480-6.jpg" />
    </figure>

    <h2>Do you remember when you downloaded 1000 files?</h2>

  </div>

  <form method="post" action="/">
    <div class="form-field">
      <textarea>Expand on whatever something here...</textarea>
    </div>

    <section class="thumbnails covers">
      <ul>
        <li><img src="http://lorempixel.com/output/animals-q-c-640-480-6.jpg" /></li>
        <li><img src="http://lorempixel.com/output/animals-q-c-640-480-6.jpg" /></li>
        <li><img src="http://lorempixel.com/output/animals-q-c-640-480-6.jpg" /></li>
        <li><img src="http://lorempixel.com/output/animals-q-c-640-480-6.jpg" /></li>
      </ul>
    </section>


    <div class="form-field field-search">
      <label for="search-input" class="icon-make i-search">Search</label><!--
      --><input type="text" name="search-input" id="search-input" />
    </div>
    <!--<div class="InputAddOn"><button class="InputAddOn-item"><span class="icon icon-search"></span></button> <input class="InputAddOn-field"></div>-->
    <input type="submit" value="Save" />
  </form>

</article>


