
<%
@body_class = 'index'

@title = 'Home | Front End Framework'
@keywords = 'The Lab, Front End Framework,'
@description = 'Front End Framework for The Lab @ o2'
%>

<article class="question">

  <h2>Do you remember when you downloaded 1000 files?</h2>

  <figure>
    <img src="http://lorempixel.com/output/animals-q-c-640-480-6.jpg" />
  </figure>

  <!-- I've added ID's so javascript is easier - now you swap out content for next question,  yes you swap out content for other page - DON"T FORGET THE CLASSES -->
  <button id="question-no" class="button-error">No</button>
  <button id="question-yes" class="button-success">Yes</button>

</article>


